@import "../../styles/variables";

h2 {
  text-align: center;
  padding: 10px;
  margin: 15px 35%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container-education {
  display: flex;
  width: 100%;
  margin: 0px;
  justify-content: center;
  margin: 50px 0;
  gap: 20px;

  .education-card {
    //background-color: #222f3e;
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  h4 {
    background-color: #222f3e;
    margin: 0;
    padding: 0 0 0 5px;
    color: $font-color1;
    text-decoration: underline;
  }
  p {
    background-color: #222f3e;
    margin: 0;
    padding: 0 0 15px 5px;
    color: white;
  }
}
