@import "../../styles/variables";

.hero {
  display: flex;
  justify-content: center;
  height: 300px;
  padding-top: 10px;
  @media (max-width: 760px) {
    .hero-image > img {
      height: 75%;
      width: 75%;
    }
  }

  .hero-image {
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .container_hero-data {
    display: flex;
    flex-direction: column;
    width: 480px;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 0 10px;

    @media (max-width: 760px) {
      .hero {
        height: 100px;
      }

      p {
        font-size: 12px;
      }
      h4 {
        font-size: 12px;
      }
      .hero-image img {
        width: 75%;
      }
    }
  }

  .hero-data {
    background-color: $background;
    justify-content: center;
    padding: 0 15px;
    margin: 0 15px;
  }
  .hero-image img {
    width: 100%;
    @media (max-width: 760px) {
      img {
        width: 75%;
      }
    }
  }

  h4 {
    margin: 6px 0 0 0;
    padding: 2px 0;
    color: $font-color1;
    text-decoration: underline;
  }

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
    padding: 0;
    color: white;
  }
}

.container-aboutMe {
  padding: 10px 10px;
  margin: 15px 15%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .aboutMe {
    padding: 5px;
    height: 100px;
    background-color: $background;
  }

  h4 {
    margin: 6px 0 0 0;
    padding: 2px 0;
    color: $font-color1;
    text-decoration: underline;
  }

  p {
    margin: 0;
    padding: 0;
    color: white;
  }
  @media (max-width: 760px) {
    p {
      font-size: 12px;
    }
  }
}
