@import "./variables";
@import "../components/Education/Education";
@import "../components/Experience/Experience";
@import "../components/Hero/Hero";
@import "../components/More/More";

.App {
  font-family: $fonts;
  text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
}
